/* line 14, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../../app/stylesheets/shared/_errors.scss */
#error_explanation {
  width: 400px;
  border: 1px solid #fec5d8;
  padding: 7px;
  padding-bottom: 12px;
  margin: 0 auto;
  background-color: #f0f0f0;
}
/* line 9, ../../../app/stylesheets/shared/_errors.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}
/* line 18, ../../../app/stylesheets/shared/_errors.scss */
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
/* line 24, ../../../app/stylesheets/shared/_errors.scss */
#error_explanation ul li {
  font-size: 12px;
}

/* line 29, ../../../app/stylesheets/shared/_errors.scss */
.field_with_errors input {
  background: #fec5d8;
  border: 1px solid red;
}

/* line 34, ../../../app/stylesheets/shared/_errors.scss */
#flashes {
  font-size: 14px;
  text-align: center;
}

/* line 39, ../../../app/stylesheets/shared/_errors.scss */
.flash_notice, .flash_success {
  background: #ebffdc;
  border: 1px solid #d9ffbd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
}

/* line 48, ../../../app/stylesheets/shared/_errors.scss */
.flash_warning {
  background: #ffffcc;
  border: 1px solid #cc0000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  color: #cc0000!important;
}

/* line 58, ../../../app/stylesheets/shared/_errors.scss */
.flash_error {
  background: #ffe4ed;
  border: 1px solid #fec5d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
}

/* line 4, ../../../app/stylesheets/shared/_forms.scss */
.field {
  margin-bottom: 20px;
}
/* line 7, ../../../app/stylesheets/shared/_forms.scss */
.field label {
  font-size: 18px;
  font-style: italic;
  display: block;
  margin-bottom: 5px;
}
/* line 14, ../../../app/stylesheets/shared/_forms.scss */
.field input[type=text], .field input[type=password] {
  width: 400px;
  height: 25px;
  font-size: 18px;
}
/* line 20, ../../../app/stylesheets/shared/_forms.scss */
.field textarea {
  width: 400px;
  height: 250px;
}
/* line 25, ../../../app/stylesheets/shared/_forms.scss */
.field select {
  width: 400px;
}

/* line 30, ../../../app/stylesheets/shared/_forms.scss */
.buttons {
  float: none;
  overflow: hidden;
}
/* line 34, ../../../app/stylesheets/shared/_forms.scss */
.buttons button, .buttons input[type='button'], .buttons input[type='submit'], .buttons a.button {
  background: #ccc;
  padding: 5px 10px;
  font-size: 16px;
  border: solid 1px #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 41, ../../../app/stylesheets/shared/_forms.scss */
.buttons button:hover, .buttons input[type='button']:hover, .buttons input[type='submit']:hover, .buttons a.button:hover {
  background: #aaa;
}

/* line 1, ../../../app/stylesheets/shared/_navigation.scss */
ul.tabs {
  margin: 0 0 10px 0;
  float: none;
  overflow: hidden;
}
/* line 6, ../../../app/stylesheets/shared/_navigation.scss */
ul.tabs li {
  float: left;
  margin: 0 10px 0 0;
  font-size: 18px;
}
/* line 11, ../../../app/stylesheets/shared/_navigation.scss */
ul.tabs li a {
  text-decoration: none;
  color: #0f0f0f;
}
/* line 15, ../../../app/stylesheets/shared/_navigation.scss */
ul.tabs li a:hover, ul.tabs li a.current {
  text-decoration: underline;
}

/* line 22, ../../../app/stylesheets/shared/_navigation.scss */
.breadcrumbs ul {
  float: none;
  overflow: hidden;
  padding: 5px 10px;
  background: #ccc;
}
/* line 28, ../../../app/stylesheets/shared/_navigation.scss */
.breadcrumbs ul li {
  float: left;
  margin-right: 5px;
}

/* line 1, ../../../app/stylesheets/views/layouts/_application.scss */
body {
  background: white url(/images/grey_bg.png);
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

/* line 9, ../../../app/stylesheets/views/layouts/_application.scss */
h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 14, ../../../app/stylesheets/views/layouts/_application.scss */
.main-wrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  min-height: 600px;
}

/* line 21, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper {
  border-bottom: solid 1px #ccc;
}
/* line 24, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper a {
  text-decoration: none;
}
/* line 28, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper .header {
  position: relative;
}
/* line 31, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper .header .logo {
  padding: 30px 20px;
  text-shadow: #333333 1px 1px 0;
}
/* line 35, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper .header .logo a {
  font-size: 70px;
  color: #ccc;
}
/* line 42, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper .user-links {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 47, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper .user-links li {
  float: left;
  margin-left: 10px;
}
/* line 51, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper .user-links li a {
  color: #333;
}
/* line 53, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper .user-links li a:hover {
  text-decoration: underline;
}
/* line 60, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper #wanna_buy {
  position: absolute;
  top: 50px;
  right: 200px;
}
/* line 65, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper #wanna_buy a {
  font-family: Georgia, serif;
  font-size: 44px;
  font-style: italic;
  color: #000;
}
/* line 71, ../../../app/stylesheets/views/layouts/_application.scss */
.header-wrapper #wanna_buy a:hover {
  text-decoration: underline;
}

/* line 79, ../../../app/stylesheets/views/layouts/_application.scss */
.breadcrumbs-wrapper {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ccc;
}

/* line 84, ../../../app/stylesheets/views/layouts/_application.scss */
.content-wrapper {
  margin-top: 20px;
  min-height: 300px;
}

/* line 89, ../../../app/stylesheets/views/layouts/_application.scss */
.footer-wrapper {
  margin-top: 20px;
  min-height: 100px;
  text-align: center;
  border-top: solid 1px #ccc;
}
/* line 96, ../../../app/stylesheets/views/layouts/_application.scss */
.footer-wrapper .footer {
  margin: 30px;
}

/* line 101, ../../../app/stylesheets/views/layouts/_application.scss */
#full-width {
  padding: 20px;
  position: relative;
}
/* line 105, ../../../app/stylesheets/views/layouts/_application.scss */
#full-width:before, #full-width:after {
  max-width: 380px;
}

/* line 110, ../../../app/stylesheets/views/layouts/_application.scss */
#left-column {
  float: left;
  width: 200px;
  position: relative;
}

/* line 116, ../../../app/stylesheets/views/layouts/_application.scss */
#right-column {
  position: relative;
  margin-left: 210px;
  width: 760px;
  padding: 10px;
}
/* line 122, ../../../app/stylesheets/views/layouts/_application.scss */
#right-column:before, #right-column:after {
  max-width: 380px;
}

/* line 127, ../../../app/stylesheets/views/layouts/_application.scss */
.pagination {
  margin: 20px;
}

/* line 131, ../../../app/stylesheets/views/layouts/_application.scss */
.clear {
  clear: both;
}

/* line 135, ../../../app/stylesheets/views/layouts/_application.scss */
.border {
  background: #fff;
  border: 1px solid #ccc;
}
/* line 139, ../../../app/stylesheets/views/layouts/_application.scss */
.border:before, .border:after {
  -moz-box-shadow: #cccccc 0 15px 20px 0;
  -webkit-box-shadow: #cccccc 0 15px 20px 0;
  -o-box-shadow: #cccccc 0 15px 20px 0;
  box-shadow: #cccccc 0 15px 20px 0;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  position: absolute;
  left: 10px;
  bottom: 15px;
  z-index: -1;
  width: 50%;
  max-width: 100px;
  height: 20%;
  content: "";
}
/* line 152, ../../../app/stylesheets/views/layouts/_application.scss */
.border:after {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* line 1, ../../../app/stylesheets/views/users/users.scss */
#sign_up_form {
  border: 1px solid #e0e0e0;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  width: 500px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

/* profile_navigation.html.haml */
/* line 3, ../../../app/stylesheets/views/users/_profile_navigation.scss */
ul.profile-navigation li {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 1, ../../../app/stylesheets/views/sessions/sessions.scss */
#sign_in_form {
  border: 1px solid #e0e0e0;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  width: 500px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}
/* line 11, ../../../app/stylesheets/views/sessions/sessions.scss */
#sign_in_form p {
  margin-top: 30px;
}

/* line 2, ../../../app/stylesheets/views/requests/requests.scss */
#requests_show .request {
  font-size: 16px;
}
/* line 5, ../../../app/stylesheets/views/requests/requests.scss */
#requests_show .request .description, #requests_show .request .city, #requests_show .request .category {
  margin: 10px 0;
}
/* line 9, ../../../app/stylesheets/views/requests/requests.scss */
#requests_show .request .manipulations {
  margin: 20px 0;
  font-size: 12px;
}

/* line 1, ../../../app/stylesheets/views/requests/_request_list_item.scss */
.request_list_item {
  position: relative;
  padding: 7px 10px;
  border-bottom: solid 1px #c0c0c0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}
/* line 8, ../../../app/stylesheets/views/requests/_request_list_item.scss */
.request_list_item:hover {
  border-left: solid 5px #c0c0c0;
  border-right: solid 5px #c0c0c0;
  background: #f0f0f0;
}
/* line 15, ../../../app/stylesheets/views/requests/_request_list_item.scss */
.request_list_item .request_name a {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}
/* line 23, ../../../app/stylesheets/views/requests/_request_list_item.scss */
.request_list_item .manipulate {
  position: absolute;
  right: 10px;
  top: 8px;
  overflow: hidden;
}
/* line 29, ../../../app/stylesheets/views/requests/_request_list_item.scss */
.request_list_item .manipulate a {
  color: #bbb;
  font-size: 11px;
}
/* line 33, ../../../app/stylesheets/views/requests/_request_list_item.scss */
.request_list_item .manipulate a:hover {
  color: #999;
}
/* line 38, ../../../app/stylesheets/views/requests/_request_list_item.scss */
.request_list_item .manipulate .edit, .request_list_item .manipulate .delete {
  float: left;
  margin-right: 5px;
}
