ul.tabs {
  margin: 0 0 10px 0;
  float: none;
  overflow: hidden;

  li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 18px;

    a {
      text-decoration: none;
      color: #0f0f0f;

      &:hover, &.current {
        text-decoration: underline;
      }
    }
  }
}

.breadcrumbs ul {
  float: none;
  overflow: hidden;
  padding: 5px 10px;
  background: #ccc;

  li {
    float: left;
    margin-right: 5px;
  }
}
