#left-column.border
  = render :partial => 'users/profile_navigation'

#right-column.border
  %h1
    Редактирование профиля

  = form_for(@user) do |f|
    = render 'form', :f => f
    .buttons
      = f.submit "Update"
