= content_for :breadcrumbs do
  = breadcrumbs ['Главная', root_path], ['Профиль']

=content_for :page_scripts do
  = include_javascripts :users_profile

  :javascript
    $(document).ready(function(){
      $(document).usersProfile();
    });

#left-column.border
  = render :partial => 'users/profile_navigation'

#right-column


