/*
Syntax error: Undefined mixin 'border-radius'.
        on line 8 of /Users/vasiliy/develop/wannabuy/app/stylesheets/views/users/users.scss, in `border-radius'
        from line 8 of /Users/vasiliy/develop/wannabuy/app/stylesheets/views/users/users.scss

3:   padding: 20px;
4:   text-align: center;
5:   margin: 20px auto;
6:   width: 500px;
7: 
8:   @include border-radius(5px);
9:   background: #fff;
10: }
11: 
12: #users_show {
13:   .profile {

Backtrace:
/Users/vasiliy/develop/wannabuy/app/stylesheets/views/users/users.scss:8:in `border-radius'
/Users/vasiliy/develop/wannabuy/app/stylesheets/views/users/users.scss:8
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/flash.rb:182:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/activerecord-3.0.6/lib/active_record/query_cache.rb:32:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/activerecord-3.0.6/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/activerecord-3.0.6/lib/active_record/query_cache.rb:12:in `cache'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/activerecord-3.0.6/lib/active_record/query_cache.rb:31:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/activerecord-3.0.6/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/activesupport-3.0.6/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/rack/logger.rb:13:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/activesupport-3.0.6/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/lock.rb:11:in `synchronize'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/static.rb:30:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/application.rb:168:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/application.rb:77:in `send'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/application.rb:77:in `method_missing'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/rack/log_tailer.rb:14:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:162:in `start'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:95:in `start'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:92:in `each'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:92:in `start'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:23:in `start'
/usr/local/rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/webrick/server.rb:82:in `start'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/handler/webrick.rb:13:in `run'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/rack-1.2.2/lib/rack/server.rb:213:in `start'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/commands/server.rb:65:in `start'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/commands.rb:30
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/commands.rb:27:in `tap'
/usr/local/rvm/gems/ruby-1.8.7-p334@rails3/gems/railties-3.0.6/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-radius'.\A         on line 8 of /Users/vasiliy/develop/wannabuy/app/stylesheets/views/users/users.scss, in `border-radius'\A         from line 8 of /Users/vasiliy/develop/wannabuy/app/stylesheets/views/users/users.scss\A \A 3:   padding: 20px;\A 4:   text-align: center;\A 5:   margin: 20px auto;\A 6:   width: 500px;\A 7: \A 8:   @include border-radius(5px);\A 9:   background: #fff;\A 10: }\A 11: \A 12: #users_show {\A 13:   .profile {"; }
