#requests_show, #responses_create {
  .request {
    font-size: 16px;

    .items_wrapper {
      margin-bottom: 20px;
    }

    .description, .city, .category {
      margin: 10px 0;
    }
    
    .manipulations {
      margin: 20px 0;
      font-size: 11px;

      a, input[type=submit] {
        color: #bbb;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: #999;
        }
      }

      form {
        display: inline;

        input[type=submit] {
          border: none;
          background: none;
          font-size: 11px;
          line-height: 14px;
          padding: 0;
          margin: 0;
        }
      }
    }
  }


}
