.request_list_item
  .request_name
    = link_to request_path(request_item) do
      = request_item.name
  
  - if request_item.user == current_user || current_user.admin?
    .manipulate 
      .edit
        = link_to 'редактировать', edit_request_path(request_item)
      .delete 
        = link_to 'удалить' ,'#'
  -# .created_date
  -#   = time_ago_in_words(request_item.created_at)

