/* profile_navigation.html.haml */
ul.profile-navigation {
  li {
    display: block;
    padding: 10px;
    font-size: 14px;
    background: #fff;

    &:hover {
      background: #f3f3f3;
    }
  }
}
