/* line 2, ../../../../../app/stylesheets/views/requests/requests.scss */
#requests_show .request {
  font-size: 16px;
}
/* line 5, ../../../../../app/stylesheets/views/requests/requests.scss */
#requests_show .request .description, #requests_show .request .city, #requests_show .request .category {
  margin: 10px 0;
}
/* line 9, ../../../../../app/stylesheets/views/requests/requests.scss */
#requests_show .request .manipulations {
  margin: 20px 0;
  font-size: 12px;
}
