body {
  background: #fff;
  text-align: center;

  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.main-wrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  min-height: 600px;
  background: #fff;
}

.header-wrapper {
  // @include shadow-box;
  border-bottom: solid 1px #ccc;

  a {
    text-decoration: none;
  }

  .header {
    position: relative;

    .logo {
      padding: 30px 20px;
      @include text-shadow(#333, 1px , 1px, 0);

      a {
        font-size: 70px;
        color: #ccc;
      }
    }
  }

  .user-links {
    position: absolute;
    top: 5px;
    right: 5px;

    li {
      float: left;
      margin-left: 10px;

      a {
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #wanna_buy {
    position: absolute;
    top: 50px;
    right: 200px;

    a {
      font-family: Georgia, serif;
      font-size: 44px;
      font-style: italic;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

.breadcrumbs-wrapper {
  @include border-radius(0 0 5px 5px );
  border: 1px solid #ccc;
}

.content-wrapper {
  margin-top: 20px;
  min-height: 300px;
  overflow: hidden;

  #full-width {
    margin: 10px;
  }
}

.footer-wrapper {
  margin-top: 20px;
  min-height: 100px;
  // @include shadow-box;
  text-align: center;
  border-top: solid 1px #ccc;

  .footer {
    margin: 30px;
  }
}

#left-column {
  float: left;
  width: 200px;
}

#right-column {
  float: left;
  margin-left: 20px;
  width: 760px;
}

.pagination {
  margin: 20px;
}
