body {
  background: #fff url(/images/grey_bg.png);
  text-align: center;

  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

a {
  color: #000;
  text-decoration: underline;
  
  &:hover {
    text-decoration: none;
  }
}

.main-wrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  min-height: 600px;
}

.header-wrapper {
  border-bottom: solid 1px #ccc;

  a {
    text-decoration: none;
  }

  .header {
    position: relative;

    .logo {
      padding: 30px 20px;
      @include text-shadow(#333, 1px , 1px, 0);

      a {
        font-size: 70px;
        color: #ccc;
      }
    }
  }

  .user-links {
    position: absolute;
    top: 5px;
    right: 5px;

    li {
      float: left;
      margin-left: 10px;

      a {
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #wanna_buy {
    position: absolute;
    top: 50px;
    right: 200px;

    a {
      font-family: Georgia, serif;
      font-size: 44px;
      font-style: italic;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

.breadcrumbs-wrapper {
  @include border-radius(0 0 5px 5px );
  border: 1px solid #ccc;
}

.content-wrapper {
  margin-top: 20px;
  min-height: 300px;
}

.footer-wrapper {
  margin-top: 20px;
  min-height: 100px;
  // @include shadow-box;
  text-align: center;
  border-top: solid 1px #ccc;

  .footer {
    margin: 30px;
  }
}

#full-width {
  padding: 20px;
  position: relative;

  &:before, &:after {
    max-width: 380px
  }
}

#left-column {
  float: left;
  width: 200px;
  position: relative;
}

#right-column {
  position: relative;
  margin-left: 210px;
  width: 760px;
  padding: 10px;

  &:before, &:after {
    max-width: 380px
  }
}

.pagination {
  margin: 20px;
}

.clear {
  clear: both;
}

.border {
  background: #fff;
  border: 1px solid #ccc;

  &:before, &:after {
    @include box-shadow(#ccc, 0, 15px, 20px, 0);
    @include rotate(-3deg);
    position: absolute;
    left: 10px;
    bottom: 15px;
    z-index: -1;
    width: 50%;
    max-width: 100px;
    height: 20%;
    content: "";
  } 

  &:after {
    @include rotate(3deg);
    right: 10px;
    left: auto;
  }
}
